*{
    margin: 0;
    padding: 0;
}

h1{
    background: blue;
    padding: 30px 20px;
    margin: 40px 100px;
    display: inline-block;
    border: 3px solid rgb(181, 255, 7);
    color: #fff;
}
.div1{
    height: 200px;
    width: 200px;
    background: rgb(219, 28, 28);
}
.div2{

}
a{
    display: inline-block;
    background: rgb(142, 238, 51);
    color: #fff;
    padding: 5px 17px;
    border: 2px solid rgb(14, 189, 132);
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
   